	<div class="container">

		<form action="/user/create" method="POST" accept-charset="utf-8" class="form-singin">
			<label>Nombre</label>
			<input type="text" name="name" class="form-control" required>
			<label>Apellido</label>
			<input type="text" name="lastname" class="form-control" required>
			<label>Username</label>
			<input type="text" name="username" class="form-control" required>
			<label>Email</label>
			<input type="text" name="email" class="form-control" required>
		</br>
		<input type="submit" />


	</form>

</div>
